src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="14defafa-7d7a-41ab-a8b7-545ffbd6f790" >
		<http:listener-connection host="0.0.0.0" port="8082"/>
	</http:listener-config>
	<flow name="hellomuleFlow" doc:id="ac046f01-f37d-41f0-9e5d-4a813437b38d" >
		<http:listener doc:name="Listener" doc:id="5fd5da87-9b1a-4941-af48-18734ed63c24" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="65924b54-ca10-45cc-b7ed-2bcc2357eaad" message="Started hello mule flow"/>
		<ee:transform doc:name="Transform Message" doc:id="6346ceb9-bd2b-4e97-baee-f646e50ced5e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Welcome to mule " ++ (attributes.queryParams.firstName as String default ""++ " " ++ attributes.queryParams.lastName as String default "")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0746a17f-634c-4659-92e5-477422f30534" message="#[payload]"/>
	</flow>
</mule>
